#bo{
    background-color: rgb(5, 5, 86);
}
   #todo
   {
    background-color: aliceblue;
    border: 3px;
    position:absolute;
       top: 20%;
     bottom: 50%;
   left: 35%;
      right: 50%;  
    height: 250px;
    width: 450px;
    border: 2px solid rgb(245, 240, 240);
    border-radius: 12px;
    padding: 5px;
   }
   #text
   {
     text-align: center;
    border: 2px solid rgb(90, 42, 42);
    border-radius: 6px;
    padding: 5px;
    width:  300px;
    height: 20px;
    flex: 1;
    
   }
   #submit
   {
    text-align: center;
    border: 2px solid ;
    background-color:brown ;
    border-radius: 6px;
    padding: 5px;
    width: 60px;
    height: 30px;
    cursor:pointer;
    
   }

   .center-div {
    text-align: center;
  }

ul li
{
  list-style:none ;
   cursor:pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  user-select: none; 
}
ul li::before{
  border-radius: 50%;
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  background-position: center ;
  background-image:url(un.png);
  background-size: cover;
  top : 12px;
  left: 5px;  
 
} 

ul li.checked {
  color:#555;
  text-decoration: line-through;
} 
ul li.checked::before {
  background-image:url(check.png);
} 
#close {
  position: absolute;
  right:0;
  top: 0;
  padding: 12px 16px 12px 16px;
  border-radius: 50%;
}

#close:hover {
  background-color: rgb(111, 108, 108)
  
}